[user]
	name = Feross Aboukhadijeh
	email = feross@feross.org
[color]
	diff = auto
[core]
	editor = vim
	autocrlf = input
	excludesfile = ~/.gitignore-global
[push]
	default = tracking
[branch]
	autosetuprebase = always
[filter "media"]
	required = true
	clean = git media clean %f
	smudge = git media smudge %f
[filter "hawser"]
	clean = git hawser clean %f
	smudge = git hawser smudge %f
	required = true
