[branch]
	autosetuprebase = always
[user]
	name = Feross Aboukhadijeh
	email = feross@feross.org
[color]
	diff = auto
[core]
	editor = vim
[push]
	default = tracking

[credential]
	helper = osxkeychain
